body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /* Add flexbox */
  display: flex;
  /* We want everything at this level in a column. */
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

/* div that surrounds sidebar and cards */
.content {
  display: flex;
  /* We want content to be in a row for sidebar and cards */
  flex-direction: row;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

/* For div with class cards with divs with card children */
.cards {
  display: flex;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}