body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /* Add flexbox */
  display: flex;
  /* We want everything at this level in a column. */
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  /* Move text 16px from edge of screen. */
  padding-left: 16px;
  display: flex;
  /* Text is aligned center vertically */
  align-items: center;
}

/* div that surrounds sidebar and cards */
.content {
  display: flex;
  /* We want content to be in a row for sidebar and cards */
  flex-direction: row;
  /* We want content to grow to fill space. */
  flex-grow: 1;
}

.sidebar {
  width: 300px;
  padding: 16px;
  background: royalblue;
  display: flex;
  /* Make sure sidebar does not shrink. */
  flex-shrink: 0;
}

ul {
  /* Remove the dots on the list items */
  list-style-type: none;
  font-size: 24px;
}

a:link {
  /* Set font color of links to white */
  color: white;
  /* Remove underlines from links */
  text-decoration: none;
}

/* For div with class cards with divs with card children */
.cards {
  padding: 32px;
  display: flex;
  /* Set direction to row */
  flex-direction: row;
  /* Set to wrap */
  flex-wrap: wrap;
  /* Set row and column gaps */
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  /* We do not want to use flex here.  Set height and width 
     to make thins work */
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 10px;
  /* We need to set height of cards */
  height: 300px;
  /* We need to set width of cards */
  width: 300px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  /* Pushes footer to bottom of screen. */
  margin-top: auto;
  /* Align vertically */
  align-items: center;
  /* Align horizontally */
  justify-content: center;
}